[Desktop Entry]
Type=Application
Version=1.0
Name=Install iBuntu 1.4 Catalinux
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=sh -c "pkexec /usr/bin/calamares"
Comment=Calamares — System Installer
Icon=install-debian
Terminal=false
StartupNotify=true
Categories=Qt;System;
NotShowIn=LXQt;
X-AppStream-Ignore=true
