[Desktop Entry]
Categories=Qt;System;
Comment[en_US]=Calamares — System Installer
Comment=Calamares — System Installer
Exec=sh -c "pkexec /usr/bin/calamares"
GenericName[en_US]=System Installer
GenericName=System Installer
Icon=/usr/lib/penguins-eggs/addons/ibuntu/theme/artwork/install-debian.png
Keywords=calamares;system;installer;
MimeType=
Name[en_US]=Install iBuntu 2.1 Lix Sur
Name=Install iBuntu 2.1 Lix Sur
NotShowIn=LXQt;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=calamares
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
